<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://upload.wikimedia.org/wikipedia/commons/5/54/Logo_oficial_del_Ministerio_de_Salud_de_El_Salvador.png" alt="" width="263" height="117" /></p>
<center></center><center></center><center>
<p>Ministerio de salud</p>
</center><center>
<p>Viceministerio de Servicio de Salud</p>
</center><center>
<p>Unidad Nacional para la Prevenci&oacute;n y Control del Cancer</p>
</center>
<p>
  N° de expediente:
</p>
<p>
  Nombre:
</p>
<p>
  Tipo de examen:
</p>
<p>
  Resultado:
</p>